html{
    margin: 0;
    box-sizing: border-box;
    background-color: #240127;
    color: white
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}